In [2]:
import requests
url = 'https://api.binance.com/api/v3/historicalTrades'

r = requests.get(url, params=dict(symbol ="BTCUSDT"))

In [4]:
import pandas as pd
data = r.json()
df = pd.DataFrame(data)
df

,id,price,qty,quoteQty,time,isBuyerMaker,isBestMatch
0,3469874111,68173.60000000,0.10000000,6817.36000000,1710005624764,True,True
1,3469874112,68173.60000000,0.15000000,10226.04000000,1710005624764,True,True
2,3469874113,68173.60000000,0.12124000,8265.36726400,1710005624764,True,True
3,3469874114,68173.60000000,0.09000000,6135.62400000,1710005624764,True,True
4,3469874115,68173.60000000,0.19143000,13050.47224800,1710005624764,True,True
...,...,...,...,...,...,...,...
495,3469874606,68177.97000000,0.00146000,99.53983620,1710005652100,True,True
496,3469874607,68177.98000000,0.02641000,1800.58045180,1710005652467,False,True
497,3469874608,68177.97000000,0.03200000,2181.69504000,1710005652548,True,True
498,3469874609,68177.97000000,0.00079000,53.86059630,1710005652664,True,True
499,3469874610,68177.98000000,0.00308000,209.98817840,1710005652694,False,True